In [1]:
import requests
from pyquery import PyQuery as pq
from pandas.core.frame import DataFrame

homeRes = requests.get("http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/index.html#")
homeDoc = pq(homeRes.text)   # No need to use ()

dataList = []
cateList = homeDoc("#rankingarea > div:nth-child(10) > a:nth-child(2)")

ad = "http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/"
ad = ad + cateList.attr("href")

cateRes = requests.get(ad)   # request"s
cateDoc = pq(cateRes.text)    
nextPgDoc = cateDoc

subject = cateDoc("#rankingarea > span")

subject = str(cateList)
subject = str(subject)
subject = subject.split(">")
subject = subject[1]
subject = subject.split("<")
subject = subject[0]

sub = cateDoc("#rankingnav > form:nth-child(2) > select:nth-child(2)")
for item in sub.items():
    dataDict={}
    dataDict["title"] = ''
    dataDict['country'] = ''
    dataDict['rank'] = ''
    dataList.append(dataDict)

for i in range(1): # while True:
    item = cateDoc("#UniversityRanking > tr")
    for eachItemDoc in item.items():
        dataDict={}
        if eachItemDoc(("td:nth-child(3) > img")).attr("title")!= "United States":
            pass
        else:
            dataDict["title"] = eachItemDoc(".left").text()
            dataDict["country"] = eachItemDoc(("td:nth-child(3) > img")).attr("title")
            dataDict["rank"] = eachItemDoc("tr>td:nth-child(1) ").text()    
            dataList.append(dataDict)
    if len(item) == 0:
        break

print(subject)
data=DataFrame(dataList)

#display(data)
data[1:50]

Statistics

                                                title        country     rank
1                                  Harvard University  United States        1
2                                 Stanford University  United States        2
3                  University of California, Berkeley  United States        3
4                          University of Pennsylvania  United States        4
5                                 Columbia University  United States        5
6                                     Duke University  United States        7
7                                Princeton University  United States        8
8         University of North Carolina at Chapel Hill  United States        9
9                               University of Chicago  United States       11
10                           Johns Hopkins University  United States       12
11                  University of Wisconsin - Madison  United States       13
12              University of California, Los Angeles  United States       14
13                         Carnegie Mellon University  United States       15
14                   University of Michigan-Ann Arbor  United States       16
15                               Texas A&M University  United States       18
16                           University of Washington  United States       19
17        Massachusetts Institute of Technology (MIT)  United States       20
18               University of Minnesota, Twin Cities  United States       22
19                                    Yale University  United States       23
20          North Carolina State University - Raleigh  United States       24
21                    University of California, Davis  United States       25
22                  The University of Texas at Austin  United States       26
23    Pennsylvania State University - University Park  United States       29
24                 Purdue University - West Lafayette  United States       31
25  The University of Texas M. D. Anderson Cancer ...  United States       33
26                  University of Southern California  United States       36
27                University of California, San Diego  United States       39
28         University of Illinois at Urbana-Champaign  United States       40
29                                 Cornell University  United States       41
30               The Ohio State University - Columbus  United States       44
31                              University of Florida  United States       46
32                           University of Pittsburgh  United States       49
33                                   Emory University  United States    51-75
34                    Georgia Institute of Technology  United States    51-75
35                                New York University  United States    51-75
36                            Northwestern University  United States    51-75
37  Rutgers, The State University of New Jersey - ...  United States    51-75
38                                 University of Iowa  United States    51-75
39               University of Maryland, College Park  United States    51-75
40                                  Boston University  United States   76-100
41                           Florida State University  United States   76-100
42                     Indiana University Bloomington  United States   76-100
43                              Iowa State University  United States   76-100
44                          Michigan State University  United States   76-100
45                   University of California, Irvine  United States   76-100
46                  University of Missouri - Columbia  United States   76-100
47                                   Brown University  United States  101-150
48                          Colorado State University  United States  101-150
49                   The George Washington University  United States  101-150

In [2]:
import requests
from pyquery import PyQuery as pq
from pandas.core.frame import DataFrame

homeRes = requests.get("http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/index.html#")
homeDoc = pq(homeRes.text)   # No need to use ()

dataList = []
cateList = homeDoc("#rankingarea > div:nth-child(10) > a:nth-child(1)")

ad = "http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/"
ad = ad + cateList.attr("href")

cateRes = requests.get(ad)   # request"s
cateDoc = pq(cateRes.text)    
nextPgDoc = cateDoc

subject = cateDoc("#rankingarea > span")

subject = str(cateList)
subject = str(subject)
subject = subject.split(">")
subject = subject[1]
subject = subject.split("<")
subject = subject[0]

sub = cateDoc("#rankingnav > form:nth-child(2) > select:nth-child(2)")
for item in sub.items():
    dataDict={}
    dataDict["title"] = ''
    dataDict['country'] = ''
    dataDict['rank'] = ''
    dataList.append(dataDict)

for i in range(1): # while True:
    item = cateDoc("#UniversityRanking > tr")
    for eachItemDoc in item.items():
        dataDict={}
        if eachItemDoc(("td:nth-child(3) > img")).attr("title")!= "United States":
            pass
        else:
            dataDict["title"] = eachItemDoc(".left").text()
            dataDict["country"] = eachItemDoc(("td:nth-child(3) > img")).attr("title")
            dataDict["rank"] = eachItemDoc("tr>td:nth-child(1) ").text()    
            dataList.append(dataDict)
    if len(item) == 0:
        break

print(subject)
data=DataFrame(dataList)

#display(data)
data[1:50]

Economics

                                              title        country     rank
1                             University of Chicago  United States        1
2                                Harvard University  United States        2
3       Massachusetts Institute of Technology (MIT)  United States        3
4                University of California, Berkeley  United States        4
5                              Princeton University  United States        5
6                               Columbia University  United States        6
7                               Stanford University  United States        7
8                               New York University  United States        8
9                                   Yale University  United States       10
10                          Northwestern University  United States       11
11                       University of Pennsylvania  United States       12
12            University of California, Los Angeles  United States       13
13                                  Duke University  United States       16
14                 University of Michigan-Ann Arbor  United States       17
15              University of California, San Diego  United States       19
16             University of Maryland, College Park  United States       20
17                         Arizona State University  United States       21
18             University of Minnesota, Twin Cities  United States       23
19                               Cornell University  United States       25
20                       Carnegie Mellon University  United States       28
21                                Boston University  United States       30
22                University of Southern California  United States       31
23                The University of Texas at Austin  United States       33
24                University of Wisconsin - Madison  United States       36
25                   Indiana University Bloomington  United States       37
26                         University of Washington  United States       38
27                  University of California, Davis  United States       40
28               Washington University in St. Louis  United States       42
29             The Ohio State University - Columbus  United States       43
30                                 Brown University  United States       49
31                                   Boston College  United States    51-75
32                                Dartmouth College  United States    51-75
33                          George Mason University  United States    51-75
34                            Georgetown University  United States    51-75
35                         Johns Hopkins University  United States    51-75
36               Purdue University - West Lafayette  United States    51-75
37          University of California, Santa Barbara  United States    51-75
38       University of Illinois at Urbana-Champaign  United States    51-75
39      University of North Carolina at Chapel Hill  United States    51-75
40               California Institute of Technology  United States   76-100
41                        Michigan State University  United States   76-100
42  Pennsylvania State University - University Park  United States   76-100
43                             Texas A&M University  United States   76-100
44                 University of California, Irvine  United States   76-100
45                         University of Pittsburgh  United States   76-100
46                           University of Virginia  United States   76-100
47                                Drexel University  United States  101-150
48                                 Emory University  United States  101-150
49                  Georgia Institute of Technology  United States  101-150

In [3]:
import requests
from pyquery import PyQuery as pq
from pandas.core.frame import DataFrame

homeRes = requests.get("http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/index.html#")
homeDoc = pq(homeRes.text)   # No need to use ()

dataList = []
cateList = homeDoc("#rankingarea > div:nth-child(10) > a:nth-child(9)")

ad = "http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/"
ad = ad + cateList.attr("href")

cateRes = requests.get(ad)   # request"s
cateDoc = pq(cateRes.text)    
nextPgDoc = cateDoc

subject = cateDoc("#rankingarea > span")

subject = str(cateList)
subject = str(subject)
subject = subject.split(">")
subject = subject[1]
subject = subject.split("<")
subject = subject[0]

sub = cateDoc("#rankingnav > form:nth-child(2) > select:nth-child(2)")
for item in sub.items():
    dataDict={}
    dataDict["title"] = ''
    dataDict['country'] = ''
    dataDict['rank'] = ''
    dataList.append(dataDict)

for i in range(1): # while True:
    item = cateDoc("#UniversityRanking > tr")
    for eachItemDoc in item.items():
        dataDict={}
        if eachItemDoc(("td:nth-child(3) > img")).attr("title")!= "United States":
            pass
        else:
            dataDict["title"] = eachItemDoc(".left").text()
            dataDict["country"] = eachItemDoc(("td:nth-child(3) > img")).attr("title")
            dataDict["rank"] = eachItemDoc("tr>td:nth-child(1) ").text()    
            dataList.append(dataDict)
    if len(item) == 0:
        break

print(subject)
data=DataFrame(dataList)

#display(data)
data[1:50]

Business Administration

                                                title        country    rank
1                          University of Pennsylvania  United States       1
2                                Texas A&M University  United States       2
3                                  Harvard University  United States       4
4                    University of Michigan-Ann Arbor  United States       5
5                                     Duke University  United States       7
6                            Georgia State University  United States       8
7                             Northwestern University  United States       9
8                            University of Washington  United States      10
9     Pennsylvania State University - University Park  United States      11
10                                Columbia University  United States      12
11               University of Maryland, College Park  United States      13
12               University of Minnesota, Twin Cities  United States      14
13                     Indiana University Bloomington  United States      15
14                           Arizona State University  United States      16
15            University of South Carolina - Columbia  United States      18
16        University of North Carolina at Chapel Hill  United States      19
17                          The University of Georgia  United States      20
18                                Stanford University  United States      21
19                          Michigan State University  United States      22
20                                University of Miami  United States      22
21                  The University of Texas at Austin  United States      25
22                  University of Southern California  United States      27
23                   Northeastern University (Boston)  United States      28
24                                New York University  United States      29
25                                 Cornell University  United States      31
26                  University of Colorado at Boulder  United States      34
27                              University of Florida  United States      36
28                  University of Wisconsin - Madison  United States      39
29                              University of Chicago  United States      41
30                         Texas Christian University  United States      43
31               The Ohio State University - Columbus  United States      44
32                              University of Arizona  United States      46
33         University of Illinois at Urbana-Champaign  United States      47
34                           Florida State University  United States      50
35                                     Boston College  United States   51-75
36                                  Boston University  United States   51-75
37                                  Dartmouth College  United States   51-75
38                                    Rice University  United States   51-75
39  Rutgers, The State University of New Jersey - ...  United States   51-75
40                                  Temple University  United States   51-75
41             The University of Texas at San Antonio  United States   51-75
42                           University of Cincinnati  United States   51-75
43                              University of Houston  United States   51-75
44                           University of Notre Dame  United States   51-75
45                           University of Pittsburgh  United States   51-75
46  Virginia Polytechnic Institute and State Unive...  United States   51-75
47                                     Babson College  United States  76-100
48                           Brigham Young University  United States  76-100
49                              Georgetown University  United States  76-100

In [4]:
import requests
from pyquery import PyQuery as pq
from pandas.core.frame import DataFrame

homeRes = requests.get("http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/index.html#")
homeDoc = pq(homeRes.text)   # No need to use ()

dataList = []
cateList = homeDoc("#rankingarea > div:nth-child(10) > a:nth-child(10)")

ad = "http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/"
ad = ad + cateList.attr("href")

cateRes = requests.get(ad)   # request"s
cateDoc = pq(cateRes.text)    
nextPgDoc = cateDoc

subject = cateDoc("#rankingarea > span")

subject = str(cateList)
subject = str(subject)
subject = subject.split(">")
subject = subject[1]
subject = subject.split("<")
subject = subject[0]

sub = cateDoc("#rankingnav > form:nth-child(2) > select:nth-child(2)")
for item in sub.items():
    dataDict={}
    dataDict["title"] = ''
    dataDict['country'] = ''
    dataDict['rank'] = ''
    dataList.append(dataDict)

for i in range(1): # while True:
    item = cateDoc("#UniversityRanking > tr")
    for eachItemDoc in item.items():
        dataDict={}
        if eachItemDoc(("td:nth-child(3) > img")).attr("title")!= "United States":
            pass
        else:
            dataDict["title"] = eachItemDoc(".left").text()
            dataDict["country"] = eachItemDoc(("td:nth-child(3) > img")).attr("title")
            dataDict["rank"] = eachItemDoc("tr>td:nth-child(1) ").text()    
            dataList.append(dataDict)
    if len(item) == 0:
        break

print(subject)
data=DataFrame(dataList)

#display(data)
data[1:50]

Finance

                                                title        country   rank
1                                 New York University  United States      1
2                               University of Chicago  United States      2
3                          University of Pennsylvania  United States      3
4                                  Harvard University  United States      4
5         Massachusetts Institute of Technology (MIT)  United States      5
6                                 Columbia University  United States      6
7                   University of Southern California  United States      7
8                                 Stanford University  United States      8
9                   The University of Texas at Austin  United States      9
10                           University of Washington  United States     10
11                            Northwestern University  United States     11
12                     Indiana University Bloomington  United States     13
13                                     Boston College  United States     14
14               The Ohio State University - Columbus  United States     15
15         University of Illinois at Urbana-Champaign  United States     16
16                   University of Michigan-Ann Arbor  United States     17
17                                    Duke University  United States     19
18                 University of California, Berkeley  United States     20
19        University of North Carolina at Chapel Hill  United States     21
20                                 Cornell University  United States     23
21              University of California, Los Angeles  United States     25
22                           Arizona State University  United States     27
23               University of Minnesota, Twin Cities  United States     29
24                 Washington University in St. Louis  United States     30
25                           University of Notre Dame  United States     32
26                  The University of Texas at Dallas  United States     35
27                                    Yale University  United States     37
28               University of Maryland, College Park  United States     40
29                                  Dartmouth College  United States     48
30                           Georgia State University  United States     49
31                              University of Arizona  United States     50
32                                  Boston University  United States  51-75
33                         Carnegie Mellon University  United States  51-75
34                                   Emory University  United States  51-75
35                                 Fordham University  United States  51-75
36                              Georgetown University  United States  51-75
37                          Michigan State University  United States  51-75
38    Pennsylvania State University - University Park  United States  51-75
39                               Princeton University  United States  51-75
40                 Purdue University - West Lafayette  United States  51-75
41  Rutgers, The State University of New Jersey - ...  United States  51-75
42                               Texas A&M University  United States  51-75
43                          The University of Georgia  United States  51-75
44                              University of Florida  United States  51-75
45                              University of Houston  United States  51-75
46                                University of Miami  United States  51-75
47                  University of Missouri - Columbia  United States  51-75
48                                 University of Utah  United States  51-75
49                             University of Virginia  United States  51-75

In [5]:
import requests
from pyquery import PyQuery as pq
from pandas.core.frame import DataFrame

homeRes = requests.get("http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/index.html#")
homeDoc = pq(homeRes.text)   # No need to use ()

dataList = []
cateList = homeDoc("#rankingarea > div:nth-child(10) > a:nth-child(11)")

ad = "http://www.shanghairanking.com/Shanghairanking-Subject-Rankings/"
ad = ad + cateList.attr("href")

cateRes = requests.get(ad)   # request"s
cateDoc = pq(cateRes.text)    
nextPgDoc = cateDoc

subject = cateDoc("#rankingarea > span")

subject = str(cateList)
subject = str(subject)
subject = subject.split(">")
subject = subject[1]
subject = subject.split("<")
subject = subject[0]

sub = cateDoc("#rankingnav > form:nth-child(2) > select:nth-child(2)")
for item in sub.items():
    dataDict={}
    dataDict["title"] = ''
    dataDict['country'] = ''
    dataDict['rank'] = ''
    dataList.append(dataDict)

for i in range(1): # while True:
    item = cateDoc("#UniversityRanking > tr")
    for eachItemDoc in item.items():
        dataDict={}
        if eachItemDoc(("td:nth-child(3) > img")).attr("title")!= "United States":
            pass
        else:
            dataDict["title"] = eachItemDoc(".left").text()
            dataDict["country"] = eachItemDoc(("td:nth-child(3) > img")).attr("title")
            dataDict["rank"] = eachItemDoc("tr>td:nth-child(1) ").text()    
            dataList.append(dataDict)
    if len(item) == 0:
        break

print(subject)
data=DataFrame(dataList)

#display(data)
data[1:50]

Management

                                                title        country    rank
1                          University of Pennsylvania  United States       2
2                                  Harvard University  United States       3
3                            Arizona State University  United States       5
4                    University of Michigan-Ann Arbor  United States       8
5         Massachusetts Institute of Technology (MIT)  United States       9
6     Pennsylvania State University - University Park  United States      10
7                University of Minnesota, Twin Cities  United States      11
8                     Georgia Institute of Technology  United States      14
9                                 New York University  United States      16
10                                Stanford University  United States      17
11                               Texas A&M University  United States      19
12               University of Maryland, College Park  United States      20
13                          Michigan State University  United States      21
14                           University of Washington  United States      22
15                 Purdue University - West Lafayette  United States      24
16                 University of California, Berkeley  United States      28
17                  The University of Texas at Dallas  United States      31
18                                 Cornell University  United States      32
19                  The University of Texas at Austin  United States      33
20                     Indiana University Bloomington  United States      34
21                            Northwestern University  United States      35
22               The Ohio State University - Columbus  United States      36
23                         Carnegie Mellon University  United States      38
24                                Columbia University  United States      39
25                              University of Florida  United States      42
26                  University of Southern California  United States      45
27         University of Illinois at Urbana-Champaign  United States      47
28                                  Boston University  United States   51-75
29                                    Duke University  United States   51-75
30                                    Rice University  United States   51-75
31  Rutgers, The State University of New Jersey - ...  United States   51-75
32                                  Temple University  United States   51-75
33                          The University of Georgia  United States   51-75
34                  University of Colorado at Boulder  United States   51-75
35                                 University of Iowa  United States   51-75
36        University of North Carolina at Chapel Hill  United States   51-75
37            University of South Carolina - Columbia  United States   51-75
38                 Washington University in St. Louis  United States   51-75
39                                  Dartmouth College  United States  76-100
40                           Georgia State University  United States  76-100
41                   Northeastern University (Boston)  United States  76-100
42                   The George Washington University  United States  76-100
43                              University of Arizona  United States  76-100
44              University of California, Los Angeles  United States  76-100
45                      University of Central Florida  United States  76-100
46                          University of Connecticut  United States  76-100
47                           University of Notre Dame  United States  76-100
48                             University of Virginia  United States  76-100
49                  University of Wisconsin - Madison  United States  76-100